/* ---- Colors ---- */
$default-primary: #4688f4;
$default-secondaryBlue: #376ad7;
$default-danger: #dd5142;
$default-success: #8fc350;
$default-warning: #ffc530;
$default-gray: #D8D8D8;
$default-white: #ffffff;
$default-lightGray: #F2F2F2;
$border-color: #ccc;
$default-dark: #1F1A3D;

/* ---- Set Typography ---- */
$baseFontSize: 16px;
$baseLineHeight: 24px;
$baseFontWeight: 400;
$baseFontFamily: 'Karla', sans-serif;
